@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.descuento {
    background-color: #D1891C;
    width: 100vw;
    position: sticky;
    top: 0px;
    font-size: 1.2rem;
    padding: 10px 40px;
    z-index: 4;
}

.heroes {
    background-color: #00669F;
    position: sticky;
    top: 35px;
    padding: 20px 40px;
    font-size: 2rem;
    z-index: 4;
    color: white;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
}

/*Cards*/
.div-boton {
    position: relative;
}
.boton-mas {
    height: 50px;
    position: fixed;
    right: 30px;
    top: 50%;
    border-radius: 50%;
}
.card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 40px;
    gap: 50px 0;
}
.card {
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3; 
    width: 300px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.card-text {
    text-align: left;
    font-size: 15px;
    padding: 45px 25px 0px 25px;
    position: relative;
    height: 300px;
}
.img-medio {
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: calc(50% - 60px);
    width: 120px;
}
h2 {
    text-align: center;
    margin: 20px 0px 10px 0px;
}
.corazon {
    position: absolute;
    top: 20px;
    left: 20px;
}
.vermas {
    text-align: center;
    background-color: #00669F;
    width: 100px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.card-fondo {
    width: 300px;
    height: 193px;
    border-radius: 20px 20px 0 0;
}

/*****Footer*****/

footer {
    background-color: #00669F;
    color: white;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.github {
    position: absolute;
    height: 30px;
    right: 40px;
}

@media (max-width: 480px) {
h1 {
    font-size: 1.5rem;
}
.card {
    margin: 1rem;
    }
.boton-mas{
    right: 20px;
}    
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
}
.github {
    position: relative;
    height: 1rem;
    margin: 1rem;
}

}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    .card {
        margin: 1rem;
    }
    
    .boton-mas{
        right: 10px;
    }   
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1rem;
    }
    .github {
        position: relative;
        height: 1rem;
        margin: 1rem;
    }
        
    
    }
